* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e7e7e7;
    display: grid;
    align-items: center;
}

.navbar {
    width: 100%;
    background: #7a0404;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.navbar a {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 40px;
    transform: scale(0);
    transform-origin: right;
    transition: transform .6s ease;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scale(1);
}

main {
    height: 700px;
    width: 99%;
    margin: 50px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

/* Slidershow container */
.slideshow-container {
    position: relative;
    border: 1px solid #7a0404;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #7a0404;
    margin: auto;
    height: 90%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Images style */
.img {
    width: 15%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 3px 3px 3px #7a0404;
    transition: .9s;
}

.img:hover {
    transform: translate(-50%, -50%) scale(1.7);}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #7a0404;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color: #dcf1f9;
    background-color: #7a0404;
}

/* Caption text */
.text {
    color: #7a0404;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/2 etc) */
.numbertext {
    color: #dcf1f9;
    font-size: 12px;
    padding: 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #7a0404;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}