* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e7e7e7;
    display: grid;
    align-items: center;
}

.navbar {
    width: 100%;
    background: #7a0404;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.navbar a {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 40px;
    transform: scale(0);
    transform-origin: right;
    transition: transform .6s ease;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scale(1);
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    transition: .9s;
}

.image:hover {
    transform: scale(1.2);
}